#card-list {
  display: grid;
  grid-template-columns: auto auto;
}

.card {
  display: grid;
  grid-template-columns: auto auto;
}

.card-face {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  width: 250px;
  padding: 5px;
  background-color: gray;
  border: 1px solid black;
}

.square {
  display: inline-grid;
  height: 50px;
  border-style: outset;
  border-width: 1px;
  border-color: darkgray;
}

.p1 {
  justify-self: end;
}

.assassin {
  background-color: black;
}

.good {
  background-color: green;
}

.neutral {
  background-color: beige;
}
