.card {
  display: grid;
  grid-template-columns: auto auto;
}

.card-face {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  border: 2px solid black;
  width: 250px;
}

.square {
  display: inline-grid;
  border: 1px dashed gray;
  height: 50px;
}

.p1 {
  justify-self: end;
}

.assassin {
  background-color: black;
}

.good {
  background-color: green;
}

.neutral {
  background-color: beige;
}
